*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(img/bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    height: 570px;
}
#body .form{
    height: 445px;
    width: 360px;
    background-color: rgba(248, 63, 186, 0.5);
    margin: 80px 480px;
    border-radius: 8px;
    
}
h1{
    text-align: center;
    color: rgb(5, 104, 253);
    font-size: 30px;
    font-weight: bold;
    padding-top: 7px;
}
.logo img{
    margin-left: 31%;
    margin-top: -40px;
    
}
.input{
    margin-left: 60px;
    margin-top: -20px;
    
}
input{
    padding: 4px 30px;
}
.save{
    padding: 5px 93px;
    margin-left: 60px;
    margin-top: 10px;
    background-color: rgb(39, 148, 250);
    color: rgb(0, 255, 55);
    font-size: 18px;
    font-weight: bold;
    border: none;
}